
$gray-900:#101828;
$gray-800:#1D2939;
$gray-600:#475467;
$gray-500:#667085;
$gray-300:#D0D5DD;
$gray-200:#E4E7EC;
$gray-50:#F9FAFB;


$white:#fff;


$brand-700:#6941C6;
$brand-600:#7F56D9;
$brand-200:#E9D7FE;
$brand-100:#F4EBFF;
$brand-25:#FCFAFF;

$indigo-700:#3538CD;
$indigo-500:#6172F3;
$indigo-100:#E0EAFF;

$error-700:#B42318;
$error-500:#F04438;
$error-300:#FDA29B;
$error-100:#FEE4E2;
$error-50:#FFFBFA;
$error-25:#FFFBFA;

$shadow-primary:  #F4EBFF;